body{
    background-color:blueviolet;
    margin:0px;
    
}
.work{
    height: 750px;
    justify-content: space-around;
    align-items: center;
    
    display: flex;
    background-color: chartreuse;

}
.w1{
    
    justify-content: space-around;
    width: 33%;
    height: 700px;
    
    display: flex;
    background-color:green;
}

.w3{
    
    justify-content: space-around;
    width: 33%;
    height: 700px;
    
    display: flex;
    background-color:blueviolet;
}
.ball1{
    border-radius:45%;
    width: 100px;
    height: 100px;
   
    display: flex;
    background-color:dimgray;
    animation-name: bounse;             /* имя анимации*/
    animation-duration: 3s;             /* время анимации*/
    animation-iteration-count: infinite;/*цикличность анимации*/

}
@keyframes bounse{
    0%{ 
        
        margin-top: 0px;
        
    }
    20%{ 
        
        margin-top: 600px;
        
    }
    40%{ 
        
        margin-top: 200px;
        
    }
    60%{ 
        
        margin-top: 600px;
        
    }
    80%{ 
        
        margin-top: 400px;
        
    }
    100%{ 
        
        margin-top: 600px;
        
    }
    
}

/*scale:1;*/

.w2{
    
    justify-content: space-around;
    width: 33%;
    height: 700px;
    
    display: flex;
    background-color:green;
}
.ball2{
    margin-top:100px;
    border-radius:50%;
    width: 100px;
    height: 100px;
   
    display: flex;
    background-color:dimgray;
    animation-name: world;             /* имя анимации*/
    animation-duration: 3s;             /* время анимации*/
    animation-iteration-count: infinite;/*цикличность анимации*/

}
@keyframes world{
    0%{ 
        
        scale:1;
        
    }
    20%{ 
        
        scale:1.25;
        
    }
    40%{ 
        
        scale:1.1;
        
    }
    60%{ 
        
        scale:1.5;
        
    }
    80%{ 
        
        scale:1.2;
        
    }
    100%{ 
        
        scale:2;
        
    }
    
}