body{
    background-color: lightblue;
    margin: 0px;
}
.containerOne{
    background-color: yellow;
    border-radius: 10px;
    height: 500px;
    margin-top: 200px;
}
#textOne{
    font-size: 90px;
    margin-left: 45%;
}
#textTwo{
    font-size: 40px;
    margin-top: -100px;
}
#textThree{
    font-size: 40px;
    
}
#textFour{
    font-size: 90px;
    margin-left: 35%;
    margin-top: -10px;
}
#textFive{
    font-size: 40px;
}
.footerOne{
    background-color: lightgreen;
    height: 200px;
    margin-top: -400px;
}
#textSix{
    font-size: 40px;
    margin-top: 500px;
    margin-left: 40%;
}
header{
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    
}
.sait_naem{
    text-align: center;
    display: flex;
}
.navigation_pane{
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width:  100%;
    background-color: #B23AD4;
}
.button_AIF{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width: 30%;
    background-color: #589800;
}
.button_Sasha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width:  30%;
    background-color: #589800;
}
.button_news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width:  30%;
    background-color: #589800;
}
.footerLink{
    margin-left: 5%;
    font-size: 30px;
}
.footerLinkTwo{
    margin-left: 15%;
    font-size: 30px;
}
.footerLinkThree{
    margin-left: 20%;
    font-size: 30px;
}