@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lobster&family=Titillium+Web:wght@300&display=swap');
html{
    
    background:linear-gradient(135deg,rgba(6,147,227,1) 0%,#9b51e0 40%);
    background-repeat: no-repeat;
    margin: 0px;
    max-height: max-content;
}
.test{
    font-family: 'Titillium Web'; 
	font-size: 55px;
}
h2{
    font-size: 40px;
}
header{
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    
}
.text_space{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    height: auto;
    align-items: center;
    justify-content:space-between;
    margin: 0px;
}
.navigation_pane{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
    
    
}
.button{
    margin-left:10% ;
}
/*
.button_AIF{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width: 30%;
    background-color: #589800;
}
.button_Sasha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width:  30%;
    background-color: #589800;
}
.button_news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width:  30%;
    background-color: #589800;
}
.personal-panel{
    height: 500px;
    width: 100%;
    background-color: #589800;
    margin-top: 10px;
    border-radius: 30px;
}