.container{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: aqua;
    margin: 100px;
}
body{
    background-color: blueviolet;
    margin: 0px;
}
.container2{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 400px;
    margin-left: 1100px;
    background-color: blue;

}
.container3{
    height: 300px;
    width: 400px;
    border-radius:0px;
    margin-left: 1100px;
    background-color: yellow;
    margin-top: 0px; ;

}