
.containerOne{
    background-color: yellow;
    border-radius: 10px;
    height: auto;
    margin-top: 5%;
    margin: ;
}
#textOne{
    font-size: 90px;
    margin: 10px;
}
#textTwo{
    font-size: 40px;
}
#textThree{
    font-size: 40px;
    
}
#textFour{
    font-size: 90px;
    margin-left: auto;
    align-self: center;
}
#textFive{
    font-size: 40px;
}
footer{
    background-color: lightgreen;
    height: 200px;
    display: flex;
    position: relative;
}
#textSix{
    font-size: 40px;
}
.footerLink{
    margin-left: 5%;
    font-size: 30px;
}
.footerLinkTwo{
    margin-left: 15%;
    font-size: 30px;
}
.footerLinkThree{
    margin-left: 20%;
    font-size: 30px;
}